*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Helvetica,Arial,sans-serif;
}
header{
    width: 100%;
    margin-top: 4rem;
    text-align: center;
}
.wikipedia-logo img{
    width: auto;
    height: 60px;
}
.wikipedia-title img{
    width: 155px;
    height: auto;

}
.search-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-container__form{
    border: 1px solid #afafaf;
    border-radius: 1px;
    border-right: none;
    height: 45px;
}
.form__search-input input{
    height: 43px;
    width: auto;
    padding: 2px 6px;
    border-radius: 1px;
    font-size: 1.4rem;
    border-style: none;
    outline-color: #36c;
}
.form__search-input .language-select{
    display: inline;
    position: relative;
    padding: 3px;
    margin-right: 3px;
    padding-top: 2px;
}
.form__search-input .language-select:active{
    padding-top: 2px;
    border: 1px solid  #36c;
}
.form__search-input .language-select label{
    font-size: 1.3rem;
    color: #757575;
    margin-right: 15px;
}
.form__search-input .language-select select{
    margin-right: 8px;
    border-style: none;
    outline: none;
    appearance: none; /*Aquí le decimos al navegador que le quite al select todos los estilos por defecto a select*/
}
.form__search-input .language-select select::-ms-expand {
    display: none;
}
.form__search-input .language-select i{
    position: absolute;
	right: 13px;
	top: calc(50% - 7px);
	width: 7px;
	height: 7px;
	display: block;
	border-left:1px solid #757575;
	border-bottom:1px solid #757575;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
.form__search-button{
    border-style: none;
    height: 50px;
    padding-bottom: 2px;
    padding-top: -3px;
    outline-style: none;
}
