*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    margin-top: 4rem;
    text-align: center;
}
.wikipedia-logo img{
    width: auto;
    height: 60px;
}
.wikipedia-title img{
    width: 155px;
    height: auto;

}
